#contact iframe
{
    width: 100%;
}

#travel-main-division{
    border: 3px solid red;
}

#SF{
    width: 100%;
    
}

.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px
}

.movie_head i{
    float: right;
}

.movie_text span{
    color: gold;
}

.movie_head span{
    float: left;
}

.number_1_book img{
    width: 400px;
    height: 400px;
}
